<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <!--2Incluir VueJS-->
    <script src="https://unpkg.com/vue@3"></script>
    <!--Incluí Bootstrap nomas para que se vea bonito-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>1Parcial</title>

</head>

<body>
    <!--3Construir elementos con HTML-->
    <div id="Nombre">
        <h1>{{ information.name }}</h1>
    </div>

    <div id="Pasatiempos">
        <!--V-for-->
        <ul v-for="word of words">
            <li>{{ word }}</li>
        </ul>
    </div>

    <div id="Imagen">
        <div class="card" style="width: 18rem;">
            <img v-bind:src="picsumImage" />
            <div class="card-body">
                <h5 class="card-title">Ligomleyens</h5>
                <p class="card-text">Uno de mis videojuegos Preferidos</p>
            </div>
        </div>
    </div>

    <!--Aqui se encuentra V-if y también el v-on:Click -->
    <div id="ContadorCool">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a class="btn btn-primary" @click="counter++">Haz click para aumentar el contador y descubrir una
                    sorpresa</a>
                <p>5 es el numero mágico has clickeado {{ counter }} veces.</p>
                <h1 v-if="counter >= 5">
                    Mi juego favorito es: League of Legends
                </h1>
            </div>
        </div>
    </div>


    <!--User Input (v-model)-->
    <div id="Alerts">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Se creativo</h5>
                <p>Hora de ser creativo:</p>
                <p>{{ message }}</p>
                <input v-model="message" placeholder="Escribe aqui" />
            </div>
        </div>
    </div>


</body>
<!--4Crear un JAVASCRIPT-->
<script src="code.js"></script>


</html>